*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "General Sans", sans-serif;
  background-color: #f5eede;
  color: #531413;
}

.container {
  width: 79%;
  margin: 0 auto;
}

.top-nav {
  display: flex;
  justify-content: space-between;
}

.right-nav {
  font-size: 0.9rem;
  font-weight: 350;
}
.right-nav span {
  font-weight: 300;
}

header nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

header nav li {
  list-style-type: none;
}

header nav a {
  padding: 20px 10px;
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #531413;
}
header nav a:visited {
  color: #531413;
}
header nav a:hover {
  color: #bb2d2b;
}

.search-field {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1rem 0;
}
.search-field label {
  border: #531413 solid 1px;
  border-radius: 4px;
  padding: 0.5rem;
}
.search-field input[type=search] {
  border: none;
  font-family: "General Sans", sans-serif;
  outline: none;
  width: min-content;
  background-color: transparent;
}
.search-field i {
  color: #531413;
}

.category-nav {
  border-top: black solid 1px;
  border-bottom: solid black 1px;
}
.category-nav ul {
  justify-content: space-evenly;
  align-items: center;
}
.category-nav a {
  text-transform: uppercase;
}

.category-nav-item:first-child {
  position: relative;
}
.category-nav-item:first-child:hover .dropdown {
  display: grid;
}

.dropdown {
  display: none;
  position: absolute;
  padding: 1rem;
  grid-template-columns: repeat(4, 100px);
  background-image: linear-gradient(to bottom, rgba(83, 20, 19, 0.5), rgba(83, 20, 19, 0.9)), url("../images/dropdown-image.jpg");
  background-size: cover;
  background-position: right;
  z-index: 2;
}
.dropdown .dropdown-list-link {
  color: #f5eede;
  position: relative;
}
.dropdown .dropdown-list-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: all 350ms;
}
.dropdown .dropdown-list-link:hover::after {
  width: 30%;
}

.dropdown-first-list {
  grid-column: span 2;
  display: block;
}
.dropdown-first-list a {
  color: inherit;
}

.dropdown-second-list {
  grid-column: span 2;
  display: block;
}
.dropdown-second-list a {
  color: inherit;
}

.dropdown-image {
  grid-column: span 3;
  width: 100%;
}

/*banner*/
.banner {
  height: 70vh;
  width: 100%;
  position: relative;
  margin-top: 8px;
  overflow-y: hidden;
}
.banner .banner-content {
  position: absolute;
  inset: 0;
  margin: auto;
  width: max-content;
  height: max-content;
  text-align: center;
}
.banner .banner-heading {
  font-size: 6.6rem;
  font-family: "Zodiak", serif;
  font-weight: 300;
  color: #f5eede;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4), transparent);
}
.banner .banner-btn {
  overflow: hidden;
  background-color: #f04c49;
  border-radius: 0.4rem;
  color: #531413;
  font-weight: 600;
  width: 12rem;
  border: none;
  height: 3rem;
  cursor: pointer;
  position: relative;
  font-family: "General Sans", sans-serif;
  text-transform: uppercase;
}
.banner .banner-btn .banner-btn-text-1, .banner .banner-btn .banner-btn-text-2 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  transition: top 0.2s ease-in;
}
.banner .banner-btn .banner-btn-text-2 {
  top: 150%;
  transform: translateY(50%);
}
.banner .banner-btn:hover .banner-btn-text-1, .banner .banner-btn:hover .banner-btn-text-2 {
  top: -100%;
}
.banner .banner-btn:hover .banner-btn-text-2 {
  top: 15%;
}
.banner .slideshow {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.banner .slideshow .slide-btn-wrapper {
  background-color: #f04c49;
  display: inline-block;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateY(-100%) translateX(-50%);
}
.banner .slideshow .slide-btn-wrapper .slide-btn {
  border: none;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.banner .slideshow .slideshow-wrapper {
  display: flex;
  width: 400%;
  position: relative;
  animation: slideshow 20s infinite;
  z-index: -1;
}
.banner .slideshow .slide {
  flex: 1;
}
.banner .slideshow .slide img {
  width: 100%;
  object-fit: cover;
}

@keyframes slideshow {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  15% {
    left: -100%;
  }
  25% {
    left: -100%;
  }
  30% {
    left: -200%;
  }
  40% {
    left: -200%;
  }
  45% {
    left: -300%;
  }
  55% {
    left: -300%;
  }
  60% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  85% {
    left: -100%;
  }
  90% {
    left: 0;
  }
}
/*end of banner*/

/*# sourceMappingURL=main.css.map */
