$primary-color: #06c;

$creamWhite: #f5eede;
$deepRed: #531413;
$accentColor: #f04c49;

$font-family: 'General Sans', sans-serif;
$heading-font: 'Zodiak', serif;

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  //overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  background-color: $creamWhite;
  color: $deepRed;
}

section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}


.container {
  width: 79%;
  margin: 0 auto;
}

.top-nav {
  display: flex;
  justify-content: space-between;
}

.right-nav {
  font-size: 0.9rem;
  font-weight: 350;

  span {
    font-weight: 300;
  }
}

header nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

header nav li {
  list-style-type: none;
}

header nav a {
  padding: 20px 10px;
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
  color: $deepRed;

  &:visited {
    color: $deepRed;
  }

  &:hover {
    color: lighten($deepRed, 25%);
  }

  label {
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.search-field {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1rem 0;

  label {
    border: $deepRed solid 1px;
    border-radius: 4px;
    padding: .5rem;
  }

  input[type=search] {
    border: none;
    font-family: $font-family;
    outline: none;
    width: min-content;
    background-color: transparent;
  }

  i {
    color: $deepRed;
  }
}

.category-nav {
  border-top: black solid 1px;
  border-bottom: solid black 1px;

  ul {
    justify-content: space-evenly;
    align-items: center;
  }

  a {
    text-transform: uppercase;
  }
}

.category-nav-item:first-child {
  position: relative;

  &:hover .dropdown {
    display: grid;
  }
}


.dropdown {
  display: none;
  position: absolute;
  padding: 1rem;
  grid-template-columns: repeat(4, 100px);
  background-image: linear-gradient(to bottom,
          rgba($deepRed, .5),
          rgba($deepRed, .9)),
  url("../images/dropdown-image.jpg");
  background-size: cover;
  background-position: right;
  z-index: 2;

  .dropdown-list-link {
    color: $creamWhite;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: white;
      transition: all 350ms;
    }

    &:hover::after {
      width: 30%;
    }
  }
}

.dropdown-first-list {
  grid-column: span 2;
  display: block;

  a {
    color: inherit;
  }

}

.dropdown-second-list {
  grid-column: span 2;
  display: block;

  a {
    color: inherit;
  }
}

.dropdown-image {
  grid-column: span 3;
  width: 100%;
}

/*banner*/
.banner {
  height: 70vh;
  width: 100%;
  position: relative;
  margin-top: 8px;
  overflow-y: hidden;

  .banner-content {
    position: absolute;
    inset: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    text-align: center;
  }

  .banner-heading {
    font-size: 7.2rem;
    font-family: $heading-font;
    font-weight: 300;
    color: $creamWhite;
    background-image: linear-gradient(to bottom, transparent, rgba(black, .4), transparent);
  }

  .banner-btn {
    overflow: hidden;
    background-color: $accentColor;
    border-radius: .4rem;
    color: $deepRed;
    font-weight: 600;
    width: 12rem;
    border: none;
    height: 3rem;
    cursor: pointer;
    position: relative;
    font-family: $font-family;
    text-transform: uppercase;


    .banner-btn-text-1 {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      transition: top .2s ease-in;
    }

    .banner-btn-text-2 {
      @extend .banner-btn-text-1;
      top: 150%;
      transform: translateY(50%);
    }

    &:hover {
      .banner-btn-text-1 {
        top: -100%;
      }

      .banner-btn-text-2 {
        top: 15%;
      }
    }
  }

  .slideshow {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;


    .slide-btn {
      border: solid 3px $deepRed;
      border-radius: 50%;
      height: 15px;
      width: 15px;
      position: absolute;
      top: 95%;
      transform: translateY(-100%) translateX(-50%);
      cursor: pointer;

      &:focus {
        background-color: $accentColor;
      }
    }

    .slide-btn-1 {
      left: 47%;

      &:focus ~ .slideshow-wrapper {
        animation: none;
        left: 0;
      }
    }

    .slide-btn-2 {
      left: 49%;

      &:focus ~ .slideshow-wrapper {
        animation: none;
        left: -100%;
      }
    }

    .slide-btn-3 {
      left: 51%;

      &:focus ~ .slideshow-wrapper {
        animation: none;
        left: -200%;
      }
    }

    .slide-btn-4 {
      left: 53%;

      &:focus ~ .slideshow-wrapper {
        animation: none;
        left: -300%;
      }
    }


    .slideshow-wrapper {
      display: flex;
      width: 400%;
      position: relative;
      animation: slideshow 20s infinite;
      z-index: -1;

    }

    .slide {
      flex: 1;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

}

@keyframes slideshow {
  0% {
    left: 0
  }

  10% {
    left: 0
  }

  15% {
    left: -100%
  }

  25% {
    left: -100%
  }

  30% {
    left: -200%
  }

  40% {
    left: -200%
  }

  45% {
    left: -300%
  }

  55% {
    left: -300%
  }

  60% {
    left: -200%
  }

  70% {
    left: -200%
  }

  75% {
    left: -100%
  }

  85% {
    left: -100%
  }

  90% {
    left: 0
  }
}

/*end of banner*/


/*day offer*/
.day-offer {
  height: min-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, min-content);
  gap: 1.6rem 3.2rem;
  grid-template-areas:
            "img1 img1 head head"
            "img1 img1 p p"
            "img1 img1 btn btn"
            "img1 img1 img2 img2";
  justify-items: center;

  img {
    width: 100%;
    height: 100%;
  }
}

.day-offer-img-one {
  grid-area: img1;
}

.day-offer-img-two {
  grid-area: img2;
}

.day-offer-paragraph {
  grid-area: p;
  font-size: 1.6rem;
}

.day-offer-btn {
  grid-area: btn;
  width: 16rem;
  padding: 1rem;
  background-color: $accentColor;
  border: none;
  color: $creamWhite;
  cursor: pointer;
  border-radius: 5rem;
  text-transform: uppercase;
}

.day-offer-heading {
  grid-area: head;
  font-family: $heading-font;
  font-size: 5.5rem;
  font-weight: 300;
}

/*end of day offer*/

/*best selling furniture section*/
.bestselling-furniture {
  height: min-content;
  text-align: center;

  .bestselling-furniture-header {
    font-family: $heading-font;
    font-size: 5.5rem;
    font-weight: 300;
    padding: 3rem 0;
  }

  .bestselling-furniture-cards {
    display: grid;
    grid-template-columns:
            repeat(auto-fit, minmax(30rem, 1fr));
    gap: 6.4rem;
  }

  .bestselling-furniture-card {
    background-color: lighten(gray, 50);
    padding-bottom: 1.2rem;

    img {
      width: 100%;
    }

    h2 {
      display: inline-block;
      padding: 1rem 2rem;
      min-width: 300px;
      background-color: rgba($creamWhite, 0.93);
      font-family: $heading-font;
      font-size: 2.4rem;
      transform: translateY(-50%);
      font-weight: 400;
      border-radius: 8px;
      text-transform: uppercase;
      box-sizing: border-box;
    }

    p {
      font-size: 2.5rem;
    }

    button {
      @extend .day-offer-btn;
      margin-top: 1.2em;

      &:hover {
        background-color: darken($accentColor, 10%);
      }
    }
  }
}

/*end of best selling furniture section*/

/*Gallery*/
.gallery {
  display: grid;
  grid-template-columns: repeat(8, minmax(1rem, 1fr));
  grid-template-rows: repeat(4, 10vw);
  gap: 1.6rem;
  margin-top: 6.4rem;
  background-color: $accentColor;
  padding: 1.6rem 0;


  .gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
    transition: opacity .5s;

    &:hover {
      opacity: 1;
    }
  }

  .gallery-img-1 {
    grid-column: 1 / span 2;
  }

  .gallery-img-2 {
    grid-column: 3 / span 3;
    grid-row: 1 / span 2;
  }

  .gallery-img-3 {
    grid-column: 6 / span 1;
  }

  .gallery-img-4 {
    grid-column: 7 / span 2;
    grid-row: 1/ span 2;
  }

  .gallery-img-5 {
    grid-column: 1/span 2;
    grid-row: 2/ span 2;
  }

  .gallery-img-6 {
    grid-column: 3/span 2;
    grid-row: span 1;
  }

  .gallery-img-7 {
    grid-row: 2/span 2;
    grid-column: 6/7;
  }

  .gallery-img-8 {
    grid-row: 3/span 2;
    grid-column: 5 /span 1;
  }

  .gallery-img-9 {
    grid-column: 1 / span 2;
    grid-row: 4/5;
  }

  .gallery-img-10 {
    grid-row: 4/5;
    grid-column: 3/span 2;
  }

  .gallery-img-11 {
    grid-row: 4/5;

  }

  .gallery-img-12 {
    grid-row: 3/span 2;
    grid-column: 7/ span 2;

  }

}

/*end of Gallery*/


/*contact*/


.newsletter-form {
  display: flex;
  gap: 1.2rem;
}

.newsletter-heading {
  font-family: $heading-font;
  font-size: 2.2rem;
  font-weight: 400;

}

.newsletter-input {
  border: 4px $accentColor solid;
  padding: .8rem;
  color: $deepRed;
  outline: none;
  font-family: $font-family;
  font-size: 1rem;
  font-weight: 600;

  &:active {
    border-radius: 0;
  }

}

.newsletter-btn {
  background-color: $accentColor;
  border: none;
  color: $creamWhite;
  padding: 0 2rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: darken($accentColor, 10);
  }
}

/*end of contact*/

/*Footer*/
.footer {
  background: $deepRed;

  p {
    color: $creamWhite;
    font-size: 1.2rem;
    padding: 1.8rem 0;
    text-align: center;
  }

  a {
    color: darken($creamWhite, 10);
    text-decoration: none;
  }
}

/*end of Footer*/

/*login/signup modal*/
.forms-modal-wrapper {
  background: #eee;
  position: fixed;
  z-index: 1000;
  border: 1px solid black;
  border-radius: .4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(black, 0.1);

  .x-btn {
    cursor: pointer;
    font-size: 2rem;
    color: darken($accentColor, 40);
    position: absolute;
    bottom: 1.6rem;
    right: 1.6rem;
  }

  .show-btns-wrapper {
    display: flex;
    padding: 1rem;
  }

  .show-form-btn {
    flex: 0 1 50%;
    background-color: $accentColor;
    font-size: 1.5rem;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    border: #eee solid 1px;
    cursor: pointer;
    color: $creamWhite;

    &:hover {
      background-color: darken($accentColor, 20);
    }

    &:active {
      background-color: lighten($accentColor, 5);
    }
  }

  .form-heading {
    font-size: 2rem;
    font-weight: normal;
    padding-top: 1rem;
    padding-left: .3rem;
    text-transform: uppercase;
  }

  form {
    width: 50rem;
    padding: 1rem;

    input:not(.form-btn) {
      background-color: white;
      color: #777;
      padding: 1.3rem;
      margin: .3rem 0;
      border: .2rem solid #eeeeee;
    }
  }

  .fullname-inputs-wrapper {
    display: flex;

    input {
      width: 50%;
    }
  }

  .form-input {
    width: 100%;
  }

  .form-btn {
    width: 35%;
    background-color: #d38800;
    color: white;
    text-transform: uppercase;
    letter-spacing: .3rem;
    padding: 1rem;
    border: none;
    margin-top: .5rem;
    cursor: pointer;

    &:hover {
      background-color: darken(#d38800, 20);
    }

    &:active {
      background-color: lighten(#d38800, 5);
    }
  }


  .login-form {
    display: none;
  }

  .show-signup-form {
    color: darken(white, 40);
    background-color: darken($accentColor, 15);
    pointer-events: none;
  }

  #show-form:checked {
    ~ .show-btns-wrapper {
      .show-login-form {
        @extend .show-signup-form;
      }

      .show-signup-form {
        @extend .show-form-btn;
        pointer-events: auto;
      }
    }

    ~ .signup-form {
      display: none;
    }

    ~ .login-form {
      display: block;
    }
  }
}

/*end of login/signup modal*/
