$primary-color: #06c;

$creamWhite: #f5eede;
$deepRed: #531413;

$font-family: 'General Sans', sans-serif;

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  //overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  background-color: $creamWhite;
  color: $deepRed;
}

.container {
  width: 79%;
  margin: 0 auto;
}

.top-nav {
  display: flex;
  justify-content: space-between;
}

.right-nav {
  font-size: 0.9rem;
  font-weight: 350;

  span {
    font-weight: 300;
  }
}

header nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

header nav li {
  list-style-type: none;
}

header nav a {
  padding: 20px 10px;
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
  color: $deepRed;

  &:visited {
    color: $deepRed;
  }

  &:hover {
    color: lighten($deepRed, 25%);
  }
}

.search-field {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1rem 0;

  label {
    border: $deepRed solid 1px;
    border-radius: 4px;
    padding: .5rem;
  }

  input[type=search] {
    border: none;
    font-family: $font-family;
    outline: none;
    width: min-content;
    background-color: transparent;
  }

  i {
    color: $deepRed;
  }
}

.category-nav {
  border-top: black solid 1px;
  border-bottom: solid black 1px;

  ul {
    justify-content: space-evenly;
  }

  a {
    text-transform: uppercase;
  }
}

.category-nav-item:first-child {
  position: relative;

  &:hover .dropdown {
    display: grid;
  }
}


.dropdown {
  display: none;
  position: absolute;
  padding: 1rem;
  grid-template-columns: repeat(4, 100px);
  background-image: linear-gradient(to bottom,
          rgba($deepRed, .5),
          rgba($deepRed, .9)),
  url("../images/dropdown-image.jpg");
  background-size: cover;
  background-position: right;

  .dropdown-list-link {
    color: $creamWhite;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: white;
      transition: all 350ms;
    }

    &:hover::after{
      width: 30%;
    }
  }
}

.dropdown-first-list {
  grid-column: span 2;
  display: block;

  a {
    color: inherit;
  }

}

.dropdown-second-list {
  grid-column: span 2;
  display: block;

  a {
    color: inherit;
  }
}

.dropdown-image {
  grid-column: span 3;
  width: 100%;
}

